@font-face {
  font-family: 'Harmonia Sans';
  src: url(../fonts/HarmoniaSans.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans';
  src: url(../fonts/HarmoniaSans-SemiBd.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans';
  src: url(../fonts/HarmoniaSans-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans';
  src: url(../fonts/HarmoniaSans-Italic.otf);
  font-weight: normal;
  font-style: italic;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Harmonia Sans';
  font-size: 16px;
  color: #34404b;

  background-color: rgb(244, 246, 248);
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  height: 60px;
  margin: 0 auto;
  margin-top: 80px;

  background-color: white;
}

.more span {
  width: 35px;
  height: 8px;

  background: url("../img/Dots.png")  no-repeat;
}

.site-header {
  background-color: white;
}

.header-top::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -185px;

  width: 1540px;
  height: 1px;
  
  background-color: #e6e8eb;
  opacity: 0.5;
}

.header-top {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  min-height: 60px;
  margin: 0 auto;

  font-size: 12px;
}

.header__info {
  display: flex;
}

.header__info .text1 {
  margin-right: 19px;
  padding-left: 27px;

  background: url("../img/Mail\ Ico\ .png") no-repeat;
}

.header__info .text2 {
  padding-left: 22px;

  background: url("../img/Phone\ Ico.png") no-repeat;
}

.header__socials {
  display: flex;
  justify-content: space-between;
  width: 98px;
}

.header__socials a:hover path {
  fill: #ff5912;
}

.header-bottom::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -185px;

  width: 1540px;
  height: 1px;
  
  background-color: #e6e8eb;
  opacity: 0.5;
}

.header-bottom {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  min-height: 120px;
  margin: 0 auto;
}

.header-bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
}

.header__nav a {
  margin-right: 39px;

  color: #3c4751;
  text-decoration: none;
}

.header__nav .active {
  color: #ff5912;
}

.header__nav a:last-child {
  margin-right: 0;
}

.header__nav a:hover {
  color: #ff5912;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 128px;

  font-size: 0;
}

.header__icons .counter {
  margin-bottom: 15px;
}

.featured {
  width: 1540px;
  margin: 0 auto;
  margin-bottom: 121px;

  background: url("../img/Img2.png") right no-repeat;
}

.featured .container {
  display: flex;
  align-items: center;
  width: 1170px;
  height: 650px;
  margin: 0 auto;
}

.featured h3 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.75;
  color: #ff5912;
}

.featured p {
  margin: 0;
}

.featured .text1 {
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 500;
  color: #3c4751;
}

.featured .text2 {
  margin-bottom: 60px;

  color: #495662;
}

.featured__price {
  display: flex;
}

.featured__price div, 
.featured__price a {
  font-size: 18px;
  font-weight: 500;
  color: #34404b;
}

.featured__price div {
  margin-right: 30px;
}

.featured__price a {
  padding-left: 33px;

  text-decoration: none;
  color: #ff5912;

  background: url("../img/Cart\ Ico\ .png") no-repeat;
}

.new-arrivals {
  margin-bottom: 119px;
}

.new-arrivals h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
  color: #34404b;
}

.new-arrivals .text1 {
  color: #ff5912;
}

.new-arrivals > p {
  margin: 0;
  margin-bottom: 80px;

  text-align: center;
  color: #495662;
}

.new-arrivals .wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.new-arrivals__item,
.new-arrivals__info {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  height: 365px;
  padding: 30px 0;

  background-color: white;
}

.new-arrivals__item p {
  position: absolute;
  bottom: 70px;

  margin: 0;

  font-size: 18px;
  font-weight: 700;
  color: #34404b;
}

.new-arrivals__item span {
  position: absolute;
  bottom: 25px;
  
  font-size: 18px;
  font-weight: 700;
  color: #ff5912;
}

.new-arrivals__info {
  position: relative;

  padding-top: 35px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.new-arrivals__info > img {
  margin-bottom: 26px;
}

.new-arrivals__info p {
  margin: 0;
  margin-bottom: 24px;

  font-size: 18px;
  font-weight: 700;
  color: #ff5912;
}

.new-arrivals__info span {
  margin-bottom: 29px;

  font-size: 14px;
  color: #34404b;
}

.new-arrivals__info .text3 {
  letter-spacing: 10px;
}

.new-arrivals__info ul {
  display: flex;
  justify-content: space-between;
  width: 67px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.new-arrivals__info li {
  width: 14px;
  height: 13px;
  border-radius: 51%;
  
  background-color: #e12e3f;
  cursor: pointer;
}

.new-arrivals__info li:nth-child(2) {
  background-color: #34404b;
}

.new-arrivals__info li:nth-child(3) {
  background-color: #3ab3ff;
}

.new-arrivals__info li:nth-child(4) {
  background-color: #2fd967;
}

.new-arrivals__info::before {
  content: '';
  position: absolute;
  bottom: 80px;
  
  width: 169px;
  height: 1px;

  background-color: #f2f4f7;
}

.new-arrivals__info > div {
  position: absolute;
  bottom: 29px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 121px;
  height: 21px;
}

.hot-sale {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  max-height: 100px;
  margin: 0 auto;
  margin-bottom: 119px;
}

.sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 670px;
  height: 100px;
  padding: 0 59px 0 62px;

  text-decoration: none;

  background-color: white;
}

.hot-sale .wrapper {
  position: relative;
}

.hot-sale .wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: -37px;

  display: block;
  width: 1px;
  height: 45px;

  background-color: #f5f5f6;
}

.hot-sale h3 {
  margin: 0 auto;
  margin-bottom: 14px;

  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.8;
  color: #34404b;
}

.hot-sale p {
  margin: 0 auto;

  font-size: 12px;
  color: #495662;
}

.hot-sale__price {
  display: flex;
  align-items: center;
  padding-left: 38px;

  font-size: 32px;
  font-weight: 700;
  color: #ff5912;

  background: url("../img/Add\ To\ Cart\ Ico.png") 0 8px no-repeat;
}

.hot-sale__price sub {
  font-size: 22px;
  margin-bottom: 2px;
}

.hot-sale__adv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: 100px;

  background-color: white;
}

.hot-sale__adv .text1 {
  margin-bottom: 10px;

  font-size: 16px;
  color: #34404b;
}

.hot-sale__adv span{
  color: #ff5912;
}

.hot-sale__adv .text2 {
  font-size: 12px;
  letter-spacing: 7.2px;
  color: #34404b;

  opacity: 0.4;
}

.best-sales h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
  color: #34404b;
}

.best-sales .text1 {
  color: #ff5912;
}

.best-sales > p {
  margin: 0;
  margin-bottom: 80px;

  text-align: center;
  color: #495662;
}

.best-sales .wrapper {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}

.best-sales__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 370px;
  height: 160px;
  padding: 0 30px 0 28px;

  background-color: white;
  cursor: pointer;
}

.best-sales__item:hover .best-sales__rating {
  display: none;
}

.best-sales__item:hover .best-sales__cart {
  display: flex;
}

.best-sales__item p {
  margin: 0;
  margin-bottom: 27px;

  font-size: 18px;
  font-weight: 700;
  color: #34404b;
}

.best-sales__info {
  position: relative;

  display: flex;
  flex-direction: column;
}

.best-sales__info::before {
  content: '';
  position: absolute;
  bottom: 6px;
  left: -29px;

  display: block;
  width: 1px;
  height: 56px;
  
  background-color: #f5f5f6;
}

.best-sales__info img {
  position: relative;
  left: -8px;
}

.best-sales__rating {
  display: flex;
  justify-content: space-between;
}

.best-sales__price {
  font-size: 16px;
  font-weight: 700;
  color: #ff5912;
}

.best-sales__cart {
  display: none;
  align-items: center;
  align-self: center;
  height: 23px;
  padding-left: 31px;

  font-size: 16px;
  color: #ff5912;

  background: url("../img/Add\ To\ Cart\ Ico.png") no-repeat;
}

.join-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1170px;
  min-height: 123px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 122px;
  padding: 0 42px;

  background-color: white;
}

.join-us > div {
  display: flex;
}

.join-us h2 {
  margin: 0;
  margin-right: 23px;

  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff5912;
}

.join-us span {
  font-size: 14px;
  font-style: italic;
  color: #34404b;
}

.join-us form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 415px;
}

input[type="email"] {
  height: 20px;
  padding-left: 28px;
  border: 0;

  font-size: 14px;
  font-style: italic;
  color: #7c8791;

  background: url("../img/Mail\ Ico.png") 0 7px no-repeat;
}

input[type="submit"] {
  width: 100px;
  height: 50px;

  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  cursor: pointer;
  background-color: #ff5912;
  border: 0;
}

.site-footer {
  font-size: 14px;
  color: #28313b;

  background-color: white;
}

.site-footer a {
  font-size: 14px;
  text-decoration: none;
  color: #28313b;
}

.site-footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1170px;
  min-height: 250px;
  margin: 0 auto;
  padding-top: 10px;
}

.footer__left a:hover {
  color: #ff5912;
}

.footer__right {
  display: flex;
  align-items: center;
  margin-top: -13px;
}

.footer__right ul {
  margin: 0;
  margin-right: 3px;
  padding: 0;

  column-count: 3;
}

.footer__right li {
  width: 185px;
  margin-bottom: 13px;
}

.footer__right li:hover {
  color: #ff5912;
}

.footer__right a:hover {
  color: #ff5912;
}

.footer__payment h3 {
  margin: 0;
  margin-bottom: 19px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #ff5912;
}

/* products styles */

.product {
  background-color: white;
  padding-bottom: 124px;
}

.product .container {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  margin: 0 auto;
}

.product__info {
  width: 615px;
}

/* catalog styles */

.filter > div {
  box-sizing: border-box;
  width: 268px;
  height: 302px;
  padding: 40px;

  background-color: white;
}